/* .member {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
  }

  .membership {
    width: 240px;
    height: 100%;
  } */

  html{
    background-color: #424549;
    color: #f0e3e3;
  }
  
  .member_photo {
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    background-color: #7289da;
    gap: 10px;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
  }
